@rendermode InteractiveAuto

@if (IsVisible)
{
    <div class="modal-overlay" @onclick="Hide">
        <div class="@ModalClass">
            <div class="modal-header">
                <h2 class="modal-title">@Title</h2>
            </div>
            <div class="modal-body">
                <p>@Message</p>
            </div>
            <button class="btn btn-base btn-primary" @onclick="Hide">Close</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Message { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    private string ModalClass => IsVisible ? "modal modal-enter-active" : "modal modal-exit-active";

    private async Task Hide()
    {
        IsVisible = false;
        await IsVisibleChanged.InvokeAsync(IsVisible);
    }
}