@inherits LayoutComponentBase

<div class="flex min-h-[100dvh] w-full">
    <NavMenu />
    <main class="flex-1 flex p-4 bg-velsollightgrey">
        <article class="h-[calc(100vh-2rem)] w-full rounded-md p-4 overflow-auto bg-white">
            @Body
        </article>
    </main>
</div>
