@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<aside class="h-screen w-40 bg-velsoldarkgrey">
    <div class="p-4 pt-8">
        <div class="flex items-center justify-center">
            <button @onclick="GoHome" class="btn btn-base btn-primary font-bold">
                FormDemo
            </button>
        </div>
        <nav class="flex flex-col gap-2 py-4">
            @* Todo: Add navigation links here *@
        </nav>
    </div>
</aside>

@code
{
    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }
}