@page "/"

<PageTitle>Home</PageTitle>


<h1 class="text-lg font-bold drop-shadow-xl">Form Demo App</h1>

<div class="text-lg">
    <p>
        This is a simple form demo app that demonstrates how to use forms in Blazor.
    </p>
</div>
